.battleGround {
  width: 100%;
  height: 75vh;
  background-color: rgba(64, 34, 0, 0.858);
  border-radius: calc(80vh);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.myPokemon {
  margin-top: auto;
}

.enemyPokemon,
.myPokemon {
  width: 500px;
  height: 500px;
  padding: 50px;
  /* background-color: rgba(165, 42, 42, 0.453); */
  margin-inline: 200px;
}

.img {
  width: 100%;
  height: 100%;
}

.attacks {
  display: flex;
  justify-content: space-around;
}

.pokeTag {
  font-family: "Press Start 2P", cursive;
  color: #fff;
  text-transform: capitalize;
  position: fixed;
}

.resetBtn {
  font-family: "Press Start 2P", cursive;
  padding: 5px;
  border: none;
}

.resetBtn:hover {
  box-shadow: inset 1px 1px 5px 4px rgba(0, 0, 0, 0.232);
}

.resetBtn:active {
  box-shadow: inset 1px 1px 5px 6px rgba(0, 0, 0, 0.44);
}
